build/
addons/onnx_loader/bin/*.so
addons/onnx_loader/bin/libonnxruntime.so*
addons/onnx_loader/bin/libstdc++.so.6
addons/onnx_loader/bin/libgcc_s.so.1
addons/onnx_loader/bin/.ort-bundled.stamp
addons/onnx_loader/bin/*.framework
.sconsign.dblite
**/*.os
**/*.o
result
.direnv/
